body {
  text-align: center;
  background-color: #29293c;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid rgb(15, 15, 15);
  border-radius: 20%; 
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(226, 12, 12);
}

.green {
  background-color: rgb(4, 237, 23);
}

.blue {
  background-color: rgb(37, 0, 220);
}

.yellow {
  background-color: rgb(246, 246, 16);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
